@CHARSET "ISO-8859-1";

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
	width: 360px;
	padding: 8% 0 0;
	margin: auto;
}

.form {
	position: relative;
	z-index: 1;
	background: #FFFFFF;
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0
		rgba(0, 0, 0, 0.24);
}

.form input {
	font-family: "Roboto", sans-serif;
	outline: 0;
	background: #E6E6FA;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}

.form button {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #5F9EA0;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}

.form button:hover,.form button:active,.form button:focus {
	background: #43A047;
}

.form .message {
	margin: 15px 0 0;
	color: #b3b3b3;
	font-size: 12px;
}

.form .message a {
	color: #4CAF50;
	text-decoration: none;
}

.form .register-form {
	display: none;
}

.container {
	position: relative;
	z-index: 1;
	max-width: 300px;
	margin: 0 auto;
}

.container:before,.container:after {
	content: "";
	display: block;
	clear: both;
}

.container .info {
	margin: 50px auto;
	text-align: center;
}

.container .info h1 {
	margin: 0 0 15px;
	padding: 0;
	font-size: 36px;
	font-weight: 300;
	color: #1a1a1a;
}

.container .info span {
	color: #4d4d4d;
	font-size: 12px;
}

.container .info span a {
	color: #000000;
	text-decoration: none;
}

.container .info span .fa {
	color: #EF3B3A;
}

.bodycss {
	background: #CDCDC1; /* fallback for old browsers */
	background: -webkit-linear-gradient(right, #F0F8FF, #6B8E23);
	background: -moz-linear-gradient(right, #7FFFD4, #6B8E23);
	background: -o-linear-gradient(right, #7FFFD4, #F0F8FF);
	background: linear-gradient(to left,#e6ffe6,    #c6d8a6);
	font-family: "Roboto", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.corpofundo {
	background: #dde8ca; /* fallback for old browsers */
}

.buttonPesquisa {
	height: 20px;
	width: 23px;
	margin-left: 1px;
	margin-right: 1px;
}

.buttonAdiciona {
	height: 20px;
	width: 23px;
	margin-left: 1px;
	margin-right: 1px;
	vertical-align: bottom;
}

.imgPesquisa {
	height: 15px;
	width: 18px;
	background-image: url("#{resource['img/zoom.gif']}") !important;
}

.imgAdiciona {
	height: 15px;
	width: 18px;
	background-image: url("#{resource['img/add_16.png']}") !important;
}

a {
	text-decoration: none;
	color: black;
}

a:focus {
	outline: none;
}

.estiloSpan {
	COLOR: red;
	font-size: 14px;
	position: absolute;
	right: 260px;
	z-index: 80;
	top: 120px;
}

.estiloSpan2 {
	COLOR: red;
	font-size: 14px;
	position: absolute;
	right: 240px;
	z-index: 300;
	top: 120px;
}

#topo {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 80px;
	background-color: #dde8ca;
}

#menu {
	position: absolute;
	top: 80px;
	left: 0px;
	right: 0px;
	height: 35px;
	background-color: #556B2F;
}

#menupop {
	position: absolute;
	border: 1px solid #98b95f;
	top: 63px;
	right: 25px;
	height: 30px;
	width: 150px;
	background-color: white;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	padding: 2px
}

#menupop a:hover {
	background-color: #98b95f;
}

#dialogo {
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	background: url('imagens/fundopesquisa.png');
	padding: 10px;
}

#dialogo #corpodialogo {
	position: absolute;
	border: 1px solid black;
	background-color: white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	top: 50%;
	left: 50%;
	padding: 5px;
}

#dialogo2 {
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	background: transparent;
	padding: 10px;
}

#dialogo2 #corpodialogo2 {
	position: absolute;
	border: 1px solid black;
	background-color: white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	top: 50%;
	left: 50%;
	padding: 5px;
}

#dialogopesquisa {
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	background: transparent;
	padding: 10px;
}

#dialogopesquisa #corpodialogopesquisa {
	position: absolute;
	border: 1px solid black;
	background-color: white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	top: 50%;
	left: 50%;
	padding: 5px;
}

#dialogopesquisa #corpodialogopesquisa #topodialogopesquisa {
	position: relative;
	background-color: #61c0e0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	top: 0;
	left: 0;
	padding: 5px;
	box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.30);
}

#dialogopesquisa #corpodialogopesquisa #paginapesquisa {
	position: relative;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 5px;
	bottom: 20px;
	top: 10px;
	height: 285px;
}

#dialogopesquisa #corpodialogopesquisa #botoespesquisa {
	position: relative;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align: right;
	left: 0;
	bottom: 0px;
	height: 20px;
	padding: 5px;
}

#iniciarmenu {
	border: 1px solid gray;
	background-color: #e8efdc;
	margin-top: 4px;
	margin-left: 9px;
	padding: 3px 10px 6px 20px;
	width: 68px;
	height: 12px;
	display: block;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-face: sans-serif;
	font-size: 13px;
	cursor: pointer;
	box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.15);
}

#iniciarmenu #imageminiciarmenu {
	margin-left: -14px;
	display: inline-block;
	float: left;
}

#imagemlogin {
	position: absolute;
	top: 350px;
	right: 250px;
}

#imagemlogin2 {
	position: absolute;
	top: -3px;
	right: 1180px;
}

#keyslogin {
	position: absolute;
	bottom: -25px;
	right: 260px;
	z-index: 999;
}

#formlogin {
	position: absolute;
	bottom: 220px;
	right: 280px;
	left: 50px;
	display: block;
	padding-top: 50px;
	padding-right: 50px;
	padding-bottom: 10px;
}

#dadoslogin {
	background: #61cded;
	background-image: -moz-linear-gradient(rgba(255, 255, 255, .3),
		rgba(255, 255, 255, 0));
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, .3),
		rgba(255, 255, 255, 0));
	background-image: -o-linear-gradient(rgba(255, 255, 255, .3),
		rgba(255, 255, 255, 0));
	background-image: -ms-linear-gradient(rgba(255, 255, 255, .3),
		rgba(255, 255, 255, 0));
	background-image: linear-gradient(rgba(255, 255, 255, .3),
		rgba(255, 255, 255, 0));
	position: absolute;
	right: 25px;
	top: 7px;
	width: 228px;
	padding: 2px;
	background-color: #61c0e0;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-moz-box-shadow: 0 2px 0 rgba(0, 0, 0, .3);
	-webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, .3);
	box-shadow: 0 2px 0 rgba(0, 0, 0, .3);
}

.ui-growl {
	position: fixed;
	top: 10%;
	right: 5px;
	width: 301px;
}

.tituloJanela {
	position: relative;
	background-color: #61c0e0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	top: 0;
	left: 0;
	padding: 5px 5px 5px 5px;
	box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.30);
	margin-bottom: 8px;
}

.tituloListagem {
	text-align: left;
	margin: 0px 0px 3px 0px;
	padding: 5px 5px 8px 10px;
	background: #61cded;
	background-image: -moz-linear-gradient(rgba(255, 255, 255, .3),
		rgba(255, 255, 255, 0));
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, .3),
		rgba(255, 255, 255, 0));
	background-image: -o-linear-gradient(rgba(255, 255, 255, .3),
		rgba(255, 255, 255, 0));
	background-image: -ms-linear-gradient(rgba(255, 255, 255, .3),
		rgba(255, 255, 255, 0));
	background-image: linear-gradient(rgba(255, 255, 255, .3),
		rgba(255, 255, 255, 0));
	-moz-box-shadow: 0 2px 0 rgba(0, 0, 0, .3);
	-webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, .3);
	box-shadow: 0 2px 0 rgba(0, 0, 0, .3);
	font-size: 14px;
}

input[type=button] {
	margin: 1px 2px 1px 2px;
	padding-right: 5px;
	padding-left: 5px;
}

input[type=submit] {
	margin: 1px 2px 1px 2px;
	padding-right: 5px;
	padding-left: 5px;
}

#barraerro {
	position: absolute;
	height: 60px;
	border: 1px solid #980021;
	background-image: linear-gradient(to bottom, #cf2b4f, #980021);
	bottom: 0px;
	left: 0px;
	right: 0px;
	color: white;
	padding-left: 20px;
	padding-top: 10px;
	font-size: 12px;
}

#barraerro #mensagembarraerro {
	padding-left: 60px;
	padding-right: 10px;
}

#corpo {
	bottom: 2px;
	right: 2px;
	left: 2px;
	top: 112px;
	position: absolute;
	padding: 8px;
}

#linhaSelecao span {
	display: inline-block;
}

#linhaSelecao:hover {
	background-color: #C0C8CB;
}

#linhaSelecaoPesquisa span {
	display: inline-block;
	cursor: pointer;
}

#linhaSelecaoPesquisa:hover {
	background-color: #C0C8CB;
}

.iconepesquisa {
	cursor: pointer;
	width: 14px;
	vertical-align: middle;
	padding-left: 2px;
}

.bordaImagem {
	border: 0;
}
.bordaGif {
	border: 0;
	width:50px;

}


.bordaImagem2 {
	border: 0;
	height: 10px;
	font-family: "Roboto", sans-serif;
}

.bordaImagem3 {
	background-color: #C0C8CB;
}

.espacoBranco {
	height: 10px;
}

.styleFildSet {
	width: 100%;
}

.botaoPesquisa {
	height: 23px;
}

.valorPesquisa {
	width: 400px;
}

.estiloIdCadastro {
	font-size: 12px;
	font-face: sans-serif;
}

.estiloIdCadastro2 {
	font-size: 12px;
	font-face: sans-serif;
	position: relative;
	right: 100px;
	top: 7px;
	width: 300px;
	background:	 #e6ffe6;
	
}

.campo {
    margin:0;
  padding:0;
  font-family: Arial,sans-serif;
}
.campo2 {
  
  margin-top: 4px;
  padding: 5px;    
  border: 1px solid #b2b2b2;
 
  -webkit-border-radius: 3px;
  border-radius: 3px;
 
  -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
  box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
 
  
}

.estyleInputName {
	width: 0px;
}

a.ui-menuitem-link.ui-corner-all.ui-state-hover {
	background: none repeat scroll 0% 0% transparent;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius: 5px; /* Para Firefox */
	-webkit-border-radius: 5px; /*Para Safari e Chrome */
	border-radius: 5px; /* Para Opera 10.5+*/
}

.ui-datatable table {
	border-collapse: separate;
}

.ui-datatable thead th,.ui-datatable tbody td,.ui-datatable tfoot td {
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius: 5px; /* Para Firefox */
	-webkit-border-radius: 5px; /*Para Safari e Chrome */
	border-radius: 5px; /* Para Opera 10.5+*/
	border-color: white; /*cor das linha nos data table*/
}

.ui-corner-bottom {
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius: 5px; /* Para Firefox */
	-webkit-border-radius: 5px; /*Para Safari e Chrome */
	border-radius: 5px; /* Para Opera 10.5+*/
}

.ui-corner-all {
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius: 5px; /* Para Firefox */
	-webkit-border-radius: 5px; /*Para Safari e Chrome */
	border-radius: 5px; /* Para Opera 10.5+*/
}

/*
DESTE PONTO PARA BAIXO CSS QUE ALTERA GERAL O PRIMEFACES
*/
.ui-panel .ui-panel-titlebar {
	padding: 0.1em 1em 0.1em;
}

.ui-panel {
	padding: 0.1em;
}

.ui-panel .ui-panel-content {
	border: 0px none;
	background: none repeat scroll 0% 0% transparent;
	padding: 0.2em 0.2em;
}

.ui-selectonemenu {
	top: 1px;
	display: inline-block;
	position: relative;
	width: auto;
	zoom: 1;
	cursor: pointer;
	overflow: hidden;
	height: 22px;
}

.ui-datatable thead th,.ui-datatable tbody td,.ui-datatable tfoot td {
	padding: 2px 2px;
	overflow: hidden;
	border-width: 1px;
	border-style: solid;
	border-color: white; /*cor das linha nos data table*/
}

.ui-paginator .ui-paginator-page,.ui-paginator .ui-paginator-pages,.ui-paginator .ui-paginator-next,.ui-paginator .ui-paginator-last,.ui-paginator .ui-paginator-first,.ui-paginator .ui-paginator-prev,.ui-paginator .ui-paginator-current
	{
	display: inline-block;
	margin-right: 3px;
	outline: medium none;
	margin-left: 3px;
	text-decoration: none;
	padding: 0px 0px;
}

.ui-widget-header {
	border: none;
	color: #000;
	font-weight: bold;
	background: none;
}

.ui-button {
	display: inline-block;
	position: relative;
	padding: 0px;
	margin-right: 0.2em;
	text-decoration: none !important;
	cursor: pointer;
	text-align: center;
	overflow: visible;
	/*  height: 30px; */
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius: 5px; /* Para Firefox */
	-webkit-border-radius: 5px; /*Para Safari e Chrome */
	border-radius: 5px; /* Para Opera 10.5+*/
	border: 1px solid #AED0EA;
	font-weight: bold;
	font-size: 14px;
	height: 30px;
}

.ui-panelgrid td {
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	padding: 0px 0px;
	border-color: white; /*cor das linha nos data table*/
}

.ui-button-icon-only .ui-button-text {
	padding: inherit;
	text-indent: -9999999px;
}

#barramenu {
	display: block;
	background-color:  #d1e0b8;
	position: absolute;
	top: 110px;
	width: 200px;
	bottom: 0px;
	left: 0px;
	padding-top: 5px;
	padding-left: 5px;
	font-size: 11px;
	font-face: sans-serif;
}

.meumenu2 {
	background:  #d1e0b8 !important;
}

.meumenu .ui-menu-child {
	background:  #d1e0b8 !important;
}

.ui-inputfield,.ui-widget-content .ui-inputfield,.ui-widget-header .ui-inputfield
	{
	background: #ffffff;
	-moz-box-shadow: inset 0 1px 1px #8f8f8f;
	-webkit-box-shadow: inset 0 1px 1px #8f8f8f;
	box-shadow: inset 0 1px 1px #8F8F8F;
	color: #000000;
}

.ui-fieldset,.ui-fieldset .ui-fieldset-legend {
	padding: 0.1em 1em;
}

.calendar .ui-button-icon-only {
	height: 22px;
	width: 22px;
	vertical-align: bottom;
	margin-left: 1px;
	margin-right: 1px;
}

.calendarOculta .ui-button-icon-only {
	height: 22px;
	width: 22px;
	vertical-align: bottom;
	margin-left: 1px;
	margin-right: 1px;
	display: none;
}

.ui-datatable thead th,.ui-datatable tbody td {
	border: 1px solid white !important;
}

.value {
	font-weight: bold;
}

.cabecalho {
	text-align: center;
	font: 15px sans-serif;
	font-weight: bold;
}